<div class="trending">
  <div class="container">
    <div class="ps-section__header">
      <h3>New Arrivals<span></span></h3>
    </div>
    <div class="bg-white p-5">
      <owl-carousel-o [options]="carouselOptions" id="banner">
        <ng-container *ngFor="let product of new_arrivals_items_array_list">
          <ng-template carouselSlide [id]="product.product_info_id!.toString()">
            <div class="w-25">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
