<app-header></app-header>

<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index">Home</a></li>
                <li><a href="user-information">Account</a></li>
                <li>Notifications</li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <app-profile-sidebar></app-profile-sidebar>
                </div>
                <div class="col-lg-8">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                            <div class="ps-section__header">
                                <h3>Notitfications</h3>
                            </div>
                            <div class="ps-section__content">
                                <div class="table-responsive">
                                    <table class="table ps-table ps-table--notification">
                                        <thead>
                                            <tr>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let items of notifications_list">
                                            <tr>
                                                <td>
                                                    {{ items.notif_date | date:"dd MMM y h:mm a" }}<br>
                                                    <p style="font-weight: bold; text-transform: uppercase;">{{items.notif_title}}</p>
                                                    {{items.notif_body}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
