<app-header></app-header>

<div class="ps-page--product">
  <div class="ps-container">
      <div class="ps-page__container">
          <div class="ps-page__left">
              <div class="ps-product--detail ps-product--fullwidth">
                  <div class="ps-product__header">
                      <ng-container *ngIf="product_images;else emptyImages">
                          <div class="ps-product__thumbnail" data-vertical="true">
                              <figure>
                                  <div class="ps-wrapper">
                                      <div class="ps-product__gallery" data-arrow="true"
                                          *ngFor="let image of product_images">
                                          <div class="item"><a href="#"><img src="{{image.image_file}}" alt=""></a>
                                          </div>
                                      </div>
                                  </div>
                              </figure>
                              <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4"
                                  data-arrow="false">
                                  <div class="item" *ngFor="let image of product_images">
                                      <img src="{{image.image_file}}" alt="">
                                  </div>
                              </div>
                          </div>
                      </ng-container>
                      <ng-template #emptyImages>
                          <div class="ps-product__thumbnail" data-vertical="true">
                              <figure>
                                  <div class="ps-wrapper">
                                      <div class="ps-product__gallery" data-arrow="true">
                                          <div class="item"><a href="#"><img src="{{product_details?.image_path}}"
                                                      alt=""></a></div>
                                      </div>
                                  </div>
                              </figure>
                              <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4"
                                  data-arrow="false">
                                  <div class="item"><img src="{{product_details?.image_path}}" alt=""></div>
                              </div>
                          </div>
                      </ng-template>
                      <div class="ps-product__info">
                          <h1>{{product_details?.product_name}}</h1>
                          <div class="ps-product__meta">
                              <p *ngIf="product_details?.product_div_desc">Brand: <a
                                      href="shop-default">{{product_details?.product_div_desc}}</a></p>
                          </div>
                          <h4 class="ps-product__price" *ngIf="product_details?.discount_amount == '0.0'">
                              {{product_details?.currency}} {{product_details?.price}}</h4>
                          <h4 class="ps-product__price" *ngIf="product_details?.discount_amount != '0.0'">
                              {{product_details?.currency}} {{product_details?.discount_amount}}
                              <del>{{product_details?.currency}} {{product_details?.price}}</del>
                          </h4>
                          <div class="ps-product__desc">
                              <p>Sold By: <strong> {{product_details?.entity_name}}</strong>
                              </p>
                              <ul class="ps-list--dot">
                                  <li> {{product_details?.payment_plan}}</li>
                                  <li> Payment Period: {{product_details?.payment_duration}}</li>
                              </ul>
                          </div>

                          <div class="ps-product__shopping">
                              <!-- <a class="ps-btn ps-btn--black" href="shopping-cart">Add to Basket</a> -->
                              <!-- <a class="ps-btn" href="checkout">Add to Fav</a> -->
                              <ng-container *ngIf="customer_id;else loginToContinue">
                                  <div class="row justify-content-center">
                                      <button class="ps-btn mr-1" (click)="addItemtoBasket()">Add to Basket</button>
                                      <ng-container *ngIf="!fav_item_exists;else favItemDoesNotExist">
                                          <button class="ps-btn ps-btn--black" (click)="addItemtoFavorite()">Add to
                                              Fav</button>
                                      </ng-container>
                                      <ng-template #favItemDoesNotExist>
                                          <div class="ps-product__actions">
                                              <i class="ml-3 fa fa-heart text-danger fa-3x"></i>
                                          </div>
                                      </ng-template>
                                  </div>
                              </ng-container>
                              <ng-template #loginToContinue>
                                  <a routerLink="/my-account">
                                      <button class="ps-btn btn-primary">Login to Continue</button>
                                  </a>
                              </ng-template>
                          </div>
                          <div class="ps-product__specification"><a class="report" href="#">Report Abuse</a>
                              <p class="categories"><strong> Categories:</strong><a
                                      href="#">{{product_details?.product_div_desc}}</a></p>
                          </div>
                          <div class="ps-product__sharing"><a class="facebook" href="#"><i
                                      class="fa fa-facebook"></i></a><a class="twitter" href="#"><i
                                      class="fa fa-twitter"></i></a><a class="google" href="#"><i
                                      class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i
                                      class="fa fa-linkedin"></i></a><a class="instagram" href="#"><i
                                      class="fa fa-instagram"></i></a></div>
                      </div>
                  </div>
                  <div class="ps-product__content ps-tab-root">
                      <ul class="ps-tab-list">
                          <li class="active"><a href="#tab-1">Description</a></li>
                      </ul>
                      <div class="ps-tabs">
                          <div class="ps-tab active" id="tab-1">
                              <div class="ps-document">
                                  {{product_details?.description}}
                                  {{product_details?.extra_desc}}
                                  {{product_details?.manufacture_date}}
                              </div>
                          </div>
                      </div>
                  </div>
                  <form [formGroup]="ratingForm" class="col" *ngIf="customer_id" (ngSubmit)="submitReview()">
                      <div class="row justify-content-center align-items-center h-25">
                          <div>Rating: {{ ratingForm.value.rating }}</div>
                      <ngx-star-rating
                        formControlName="rating"
                        [id]="'rating'"
                      ></ngx-star-rating>
                      </div>

                      <div class="py-2 row justify-content-center">
                          <textarea formControlName="comment" cols="40" class="form-control" rows="5" placeholder="Please leave a comment"></textarea>
                      </div>
                      <div class="row justify-content-center py-2">
                          <button type="submit" class="ps-btn" *ngIf="ratingForm.valid">Submit Review</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
      <div *ngIf="product_details && customer_id">
          <app-related-products [cust_id]="customer_id" [prod_details]="product_details"></app-related-products>
      </div>
  </div>
</div>

<app-footer></app-footer>
