<aside class="widget widget_shop">
  <h4 class="widget-title">BY BRANDS</h4>
  <form class="ps-form--widget-search" action="do_action" method="get">
      <input class="form-control" type="text" placeholder="">
      <button><i class="icon-magnifier"></i></button>
  </form>
  <figure class="ps-custom-scrollbar" data-height="250">
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-1" name="brand">
          <label for="brand-1">Adidas (3)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-2" name="brand">
          <label for="brand-2">Amcrest (1)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-3" name="brand">
          <label for="brand-3">Apple (2)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-4" name="brand">
          <label for="brand-4">Asus (19)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-5" name="brand">
          <label for="brand-5">Baxtex (20)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-6" name="brand">
          <label for="brand-6">Adidas (11)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-7" name="brand">
          <label for="brand-7">Casio (9)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-8" name="brand">
          <label for="brand-8">Electrolux (0)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-9" name="brand">
          <label for="brand-9">Gallaxy (0)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-10" name="brand">
          <label for="brand-10">Samsung (0)</label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="brand-11" name="brand">
          <label for="brand-11">Sony (0)</label>
      </div>
  </figure>
  <figure>
      <h4 class="widget-title">By Price</h4>
      <div id="nonlinear"></div>
      <p class="ps-slider__meta">Price:<span class="ps-slider__value">GHs <span class="ps-slider__min"></span></span>-<span class="ps-slider__value">GHs <span class="ps-slider__max"></span></span></p>
  </figure>
  <figure>
      <h4 class="widget-title">By Price</h4>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="review-1" name="review">
          <label for="review-1"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i></span><small>(13)</small></label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="review-2" name="review">
          <label for="review-2"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i></span><small>(13)</small></label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="review-3" name="review">
          <label for="review-3"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="review-4" name="review">
          <label for="review-4"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(5)</small></label>
      </div>
      <div class="ps-checkbox">
          <input class="form-control" type="checkbox" id="review-5" name="review">
          <label for="review-5"><span><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(1)</small></label>
      </div>
  </figure>
  <figure>
      <h4 class="widget-title">By Color</h4>
      <div class="ps-checkbox ps-checkbox--color color-1 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-1" name="size">
          <label for="color-1"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-2 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-2" name="size">
          <label for="color-2"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-3 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-3" name="size">
          <label for="color-3"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-4 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-4" name="size">
          <label for="color-4"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-5 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-5" name="size">
          <label for="color-5"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-6 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-6" name="size">
          <label for="color-6"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-7 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-7" name="size">
          <label for="color-7"></label>
      </div>
      <div class="ps-checkbox ps-checkbox--color color-8 ps-checkbox--inline">
          <input class="form-control" type="checkbox" id="color-8" name="size">
          <label for="color-8"></label>
      </div>
  </figure>
  <figure class="sizes">
      <h4 class="widget-title">BY SIZE</h4><a href="#">L</a><a href="#">M</a><a href="#">S</a><a href="#">XL</a>
  </figure>
</aside>
