<app-header></app-header>

<div id="homepage-5">
  <div class="ps-home-banner">
    <div class="container">
      <div class="ps-section__left">
        <!-- categories -->
        <app-category-menu></app-category-menu>
      </div>

      <!-- banner sliders -->
      <div class="ps-section__center">
        <owl-carousel-o [options]="carouselOptions" id="banner">
          <ng-container *ngFor="let image of banner_data">
              <ng-template carouselSlide [id]="image.banner_code">
                  <img class="owl-item banner_img" [src]="image.image_file"
                      [alt]="image.description" [title]="image.description">
              </ng-template>
          </ng-container>
      </owl-carousel-o>
      </div>

    </div>
  </div>

  <!-- shops/brands -->
  <app-home-shop></app-home-shop>

  <!-- top categories -->
  <app-top-categories></app-top-categories>

  <!-- most viewed products -->
  <app-most-viewed></app-most-viewed>

  <!-- newly arrived -->
  <app-new-arrivals></app-new-arrivals>
</div>

<app-footer></app-footer>
