<app-header></app-header>

<div class="ps-page--simple">
  <div class="ps-breadcrumb">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Checkout</li>
      </ul>
    </div>
  </div>
  <div class="ps-checkout ps-section--shopping pt-0">
    <div class="container pt-3">
      <div class="ps-section__content">
        <form class="ps-form--checkout" action="do_action" method="post">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="row justify-content-center">
                <div class="ps-form__billing-info mb-3">
                  <h3 class="ps-form__heading">Select Payment Method</h3>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      id="exampleRadios1"
                      value="MOM"
                      (change)="paymentMethodChange($event)"
                    />
                    <label
                      class="form-check-label mt-1 ml-5"
                      for="mobile-money"
                    >
                      Mobile Money
                    </label>
                  </div>
                  <div class="my-3 ml-5 pl-5">
                    <div class="row">
                      <img
                        src="assets/img/payment-method/1.jpg"
                        alt="mtn-momo"
                        height="30"
                        width="auto"
                      />
                      <img
                        src="assets/img/payment-method/3.jpg"
                        alt="#"
                        height="30"
                        width="auto"
                      />
                      <img
                        src="assets/img/payment-method/2.jpg"
                        alt="#"
                        height="30"
                        width="auto"
                      />
                    </div>
                  </div>
                  <div class="form-check mt-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment"
                      id="card"
                      value="CRD"
                      (change)="paymentMethodChange($event)"
                    />
                    <label class="form-check-label mt-1 ml-5" for="card">
                      Card
                    </label>
                  </div>
                  <div class="my-3 ml-5 pl-5">
                    <div class="row">
                      <img
                        src="assets/img/payment-method/5.jpg"
                        alt="#"
                        height="30"
                        width="auto"
                      />
                      <img
                        src="assets/img/payment-method/4.jpg"
                        alt="#"
                        height="30"
                        width="auto"
                      />
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="selectedWallet">
                  <div class="col-12 col-lg-8 my-4">
                    <div class="card border-0 shadow p-3">
                      <div class="row card-body">
                        <div class="col">
                          <p
                            *ngIf="selectedWallet?.nw === 'MTN'"
                            class="font-weight-bold text-secondary"
                          >
                            MTN Mobile Money
                          </p>
                          <p
                            *ngIf="selectedWallet?.nw === 'VOD'"
                            class="font-weight-bold text-secondary"
                          >
                            Vodafone Cash
                          </p>
                          <p
                            *ngIf="selectedWallet?.nw === 'AIR'"
                            class="font-weight-bold text-secondary"
                          >
                            AirtelTigo Cash
                          </p>
                          <p class="font-weight-bold text-secondary">
                            <small>{{ selectedWallet?.holder_name }}</small>
                          </p>
                          <p>{{ selectedWallet.pan }}</p>
                        </div>
                        <div class="col text-right">
                          <div *ngIf="selectedWallet?.nw === 'MTN'">
                            <img
                              src="assets/img/payment-method/1.jpg"
                              alt="Momo"
                              width="40"
                              height="auto"
                            />
                          </div>
                          <div *ngIf="selectedWallet?.nw === 'VOD'">
                            <img
                              src="assets/img/payment-method/3.jpg"
                              alt="VodaCash"
                              width="40"
                              height="auto"
                            />
                          </div>
                          <div *ngIf="selectedWallet?.nw === 'AIR'">
                            <img
                              src="assets/img/payment-method/2.jpg"
                              alt="AirtelCash"
                              width="30"
                              height="auto"
                            />
                          </div>
                          <div
                            *ngIf="selectedWallet?.payment_mode === 'CRD'"
                            class="row justify-content-end"
                          >
                            <img
                              src="assets/img/payment-method/5.jpg"
                              alt="VISA"
                              width="30"
                              height="auto"
                            />
                            <img
                              class="mr-4 ml-2"
                              src="assets/img/payment-method/4.jpg"
                              alt="VISA"
                              width="30"
                              height="auto"
                            />
                          </div>
                          <a [routerLink]="'/wallets'"
                            ><small
                              >change wallet
                              <i class="fa fa-angle-right ml-2"></i></small
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="ps-form__total">
                <h3 class="ps-form__heading">Your Order</h3>
                <div class="content">
                  <div class="ps-block--checkout-total">
                    <div class="ps-block__content">
                      <table class="table ps-block__products">
                        <tbody>
                          <ng-container *ngFor="let item of checkoutItems">
                            <tr>
                              <td class="text-center">
                                <img
                                  src="{{
                                    item.image_file ||
                                      item.details[0].image_file
                                  }}"
                                  alt="#"
                                  height="60"
                                  width="auto"
                                />
                              </td>
                              <td>
                                <div>
                                  <a href="#">{{
                                    item.product_name ||
                                      item.details[0].product_name
                                  }}</a>
                                </div>
                                <div class="small">
                                  <a href="#">{{ item.entity_name }}</a>
                                </div>
                                <div class="small">
                                  <span
                                    >Qty:
                                    {{ item.qty || item.details[0].qty }}</span
                                  >
                                </div>
                              </td>
                              <td>
                                <strong
                                  >GHS
                                  {{
                                    item.total_amount ||
                                      item.details[0].amount_due
                                  }}</strong
                                >
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                      <div class="row justify-content-between mx-3 mb-2">
                        <span>Subtotal: </span>
                        <strong *ngIf="total_charge">
                          GHS {{ total_charge.total_plus_charge }}
                        </strong>
                      </div>
                      <div class="row justify-content-between mx-3 mb-2">
                        <span>Reward: </span>
                        <strong *ngIf="total_charge">
                          GHS {{ total_charge.total_reward }}
                        </strong>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="selectedWallet; else disableCheckout">
                    <button
                      class="ps-btn ps-btn--fullwidth"
                      (click)="makePayment()"
                    >
                      Confirm Payment | GHS
                      {{ total_charge.total_plus_charge }}
                    </button>
                  </ng-container>
                  <ng-template #disableCheckout>
                    <button
                      class="ps-btn ps-btn--fullwidth bg-secondary text-white"
                      style="cursor: not-allowed"
                    >
                      Select Payment Method
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="back2top"><i class="pe-7s-angle-up"></i></div>

<app-footer></app-footer>
