<header class="header header--standard header--market-place-1" data-sticky="true">
  <div class="header__top">
      <div class="container">
          <div class="header__left">
              <p>Welcome to Trickles Online Shopping Store !</p>
          </div>
          <div class="header__right">
              <ul class="header__top-links">
                  <li><a href="#">Store Location</a></li>
                  <li><a href="#">Track Your Order</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="header__content">
      <div class="container">
          <div class="header__content-left">
              <div class="menu--product-categories">
                  <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Categories</span></div>
                  <div class="menu__content">
                      <app-category-menu></app-category-menu>
                  </div>
              </div><a class="ps-logo"><img src="/assets/img/logo.png" alt=""></a>
          </div>
          <div class="header__content-center">
              <form class="ps-form--quick-search" action="index.html" method="get">

                  <input class="form-control border-left" type="text" placeholder="I'm shopping for...">
                  <button>Search</button>
              </form>
          </div>

          <div class="header__content-right">
              <div class="header__actions">
                  <div *ngIf="!!customer_id">
                      <a class="header__extra mr-3" href="#">
                          <i class="icon-heart"></i>
                          <span><i>{{ favorite_items.length }}</i></span>
                      </a>
                      <a class="header__extra" href="#">
                          <i class="icon-cart"></i>
                          <span><i>{{ basket_items.length }}</i></span>
                      </a>
                  </div>

                  <div class="ps-block--user-header">
                      <ng-container *ngIf="!!customer_id; else unauthorized">
                          <div class="ps-block__left"><i class="icon-user"></i></div>
                          <div class="ps-block__right d-flex align-items-center">
                              <a href="/user-information">Account</a>
                          </div>
                      </ng-container>
                      <ng-template #unauthorized>
                          <div class="ps-block__left"><i class="icon-user"></i></div>
                          <div class="ps-block__right">
                              <a href="/my-account">Login</a><a href="/my-account">Register</a>
                          </div>
                      </ng-template>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- on page -->
  <nav class="navigation">
      <div class="container">
          <div class="navigation__left">
              <div class="menu--product-categories">
                  <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Categories</span></div>
                  <div class="menu__content">
                      <app-category-menu></app-category-menu>
                      <!-- <ul class="menu--dropdown">
                          
                      </ul> -->
                  </div>
              </div>
          </div>
          <div class="navigation__right">
              <ul class="menu">
                  <li *ngFor="let menu of menus">
                      <a href="{{ menu.route }}" class="link">{{menu.name}}</a>
                  </li>
              </ul>
              <div class="ps-block--header-hotline inline">
                  <p><i class="icon-telephone"></i>Hotline:<strong> 1-800-234-5678</strong></p>
              </div>
          </div>
      </div>
  </nav>
</header>

<!-- mobile nav -->
<app-mob-header [menus]="menus"></app-mob-header>